.create_class {
  padding-top: 45px;
}

.create_class_btn {
  width: 85% !important;
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.block_container {
  margin-top: 25px;
}

.block_title {
  font-size: 14px;
  color: #848484;
  padding-left: 15px;
}

.block {
  background-color: #fff;
  margin-top: 7px;
  padding: 18px;
}

.line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.line:first-child {
  margin: 0;
}

.base_info_name {
  width: 56px;
  text-align: left;
  margin-right: 7px;
  color: #848484;
  font-size: 14px;
}

.base_info_ipt {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  flex: 1;
  height: 30px;
  overflow: hidden;
}

.base_info_ipt > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 18px;
  color: #333;
}

.switch {
  flex: 1;
  height: 30px;
  border: 1px solid #1c7eff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #1c7eff;
  font-size: 14px;
  max-width: 60px;
}

.switch .on {
  background-color: #1c7eff;
  color: #fff;
  flex: 1;
  text-align: center;
  line-height: 27px;
  height: 27px;
}

.switch .off {
  height: 27px;
  border-radius: 15px;
  background-color: #fff;
  color: #1c7eff;
  flex: 1;
  text-align: center;
  line-height: 27px;
}