.info_page {
    padding-bottom: 55px;
}

.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 12px;
    z-index: 99;
}

.nav_bar_icon {
    width: 23px;
    height: 23px;
    text-align: center;
    position: relative;
}

.nav_bar_icon>img {
    height: 100%;
}

.nav_bar_icon:last-child {
    margin-left: 20px;
}

.nav_bar_icon:first-child {
    margin-right: auto;
    margin-left: 0;
}


.tip {
    font-size: 12px;
    color: #fff;
    padding: 10px 4px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    right: -5px;
    bottom: -12px;
    transform: translate(0, 100%);
    width: 188px;
    text-align: center;
    border-radius: 3px;
}

.tip::after {
    content: "";
    border-top: 10px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 9px;
    transform: translateY(-100%);
}

.header {
    height: 206px;
    position: relative;
    background: url(../../images/info_page_default_bg.png) no-repeat;
    background-size: 100% 178px;
}

.bottom_border {
    height: 28px;
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    left: 0;
}

.info {
    height: 55px;
    padding-left: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}

.info .avatar {
    width: 53px;
    height: 53px;
    margin-right: 14px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.info .avatar>img {
    width: 100%;
    height: 100%;
}

.info .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info .info_name {
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}

.info .info_id {
    color: #333;
    font-size: 12px;
    line-height: 16px;
}

.statistic_block {
    margin: 20px 18px;
}

.block_header {
    display: flex;
    justify-content: space-between;
    height: 22px;
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.block_chart {
    width: 340px;
    height: 484px;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 20px;
}

.options_bar {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 20px;
    padding: 0 18px;
    box-sizing: border-box;
}

.options_btn {
    /* width: 45% !important; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0 10px;
}

.block_footer {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

.class_card {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
}

.card_title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
}

.table {
    border: 1px solid #f0f0f0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.row:first-child .cell {
    font-weight: bold;
    color: #333;
}

.row:last-child {
    border: none;
}

.cell:first-child {
    flex: 1;
    color: #999;
    border: none;
    background-color: #eaf5ff;
}

.cell {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    height: 40px;
    border-left: 1px solid #f0f0f0;
}
