.address_home {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 45px;
    padding-bottom: 60px;
}

.search_bar {
    height: 60px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding: 12px 18px;
}

.search_box {
    height: 35px;
    border-radius: 23px;
    overflow: hidden;
    background-color: #eee;
    position: relative;
}

.search_box>img {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 11px;
    left: 16px;
}

.search_box>input {
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #333;
    line-height: 35px;
    padding-left: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
}

.search_box>input::placeholder {
    color: #999;
}

.list_item {
    background-color: #fff;
    width: 100%;
    margin-top: 16px;
    padding-bottom: 5px;
}

.list_item:first-child {
    margin-top: 0;
}

.item_header {
    height: 67px;
    padding: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}

.class_avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 12px;
    background-color: #539CFC;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    padding: 3px;
    box-sizing: border-box;
}

.class_avatar>img {
    width: 100%;
    height: 100%;
}

.class_info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.class_info_detail .name {
    color: #333;
    font-size: 16px;
}

.class_info_detail .num {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.link {
    color: #539CFC;
    font-size: 12px;
}

.student_list {
    padding: 0 26px;
}

.stu_item {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}

.stu_item:last-child {
    border: none;
}

.stu_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}

.stu_avatar>img {
    width: 100%;
    height: 100%;
}

.show_all_stu {
    color: #539CFC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.show_all_stu>img {
    width: 9px;
    height: 5px;
    margin-left: 3px;
}

.menu_btn {
    position: fixed;
    top: 0px;
    right: 6px;
    z-index: 999;
    width: 17px;
    height: 17px;
    padding: 14px;
    transform: rotate(0deg);
    transition: transform .3s;
}

.menu_btn>img {
    width: 100%;
    height: 100%;
}

.menu {
    width: 110px;
    height: 70px;
    position: fixed;
    right: 10px;
    top: 40px;
    background-color: #fff;
    padding: 0 14px;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.menu::after {
    content: "";
    display: block;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 7px solid transparent;
    position: absolute;
    top: 0;
    right: 13px;
    transform: translateY(-100%);
}

.menu .btn {
    font-size: 14px;
    color: #848484;
    border-bottom: 1px solid #f9f9f9;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu .btn:last-child {
    border: none;
}

.menu .btn>img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.search_class_modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 9998;
}

.search_class_wrap {
    background-color: #fff;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.search_class_wrap .title {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    color: #333;
    padding: 10px;
}

.search_class_wrap .tip_info {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-bottom: 10px;
}

.search_class_wrap .input_box {
    margin: 0 auto;
    width: 80%;
    height: 30px;
    border: 1px solid #d9d9d9;
}

.input_box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    color: #666;
}

.search_class_wrap .btns {
    display: flex;
    height: 45px;
    align-items: center;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
}

.error_tip {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(226, 134, 134);
}

.btns .btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d9d9d9;
    height: 100%;
    font-size: 13px;
    color: #333;
}

.btns .btn:last-child {
    border: none;
    color: #539CFC;
}

.result_box {
    margin: 30px 30px 0;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
}

.result_box .result_title {
    text-align: center;
    font-size: 14px;
    color: #999;
}

.result_list {
    max-height: 190px;
    overflow-y: scroll;
}

.result_list::-webkit-scrollbar {
    display: none;
}

.result_class_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.result_class_item:last-child {
    border: none;
}

.class_item_main {
    font-size: 12px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class_name {
    color: #333;
    font-size: 13px;
}

.class_info {
    color: #999;
}

.result_class_item .arrow {
    margin-left: auto;
}